body {
  font-size: 5vh;
  display: flex;
  justify-content: center;
}

.calculator-container {
  background-color: #aaa;
}
div {
  height: 10vh;
}
.calculator-container {
  width: 50vw;
}

div.buttons-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.button {
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: grey;
  border: solid 0.5px black;
  flex: 1;
  border-radius: 10%;
}
.button.operator {
  color: white;
}
.screen {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
  background-color: #073;
  border: solid 0.5px black;
  padding-right: 5vw;
  border-radius: 10%;
}
.button.equals {
  background-color: orange;
}
.button.clear {
  background-color: red;
}
.operators {
  display: flex;
  justify-content: space-around;
}
